<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get id Done</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>

<div class="navigator">
    <a class="btn" id="login" href="login">로그인</a>
    <a class="btn" id="join" href="join">회원가입</a>
    <a class="btn" id="logout" href="/auth/logout">로그아웃</a>
    <a class="btn" id="profile" href="profile">내 프로필</a>

</div>

<div class="main-container">
    <div class="left-container">
        <h>ㅇㄴㅇㄴ</h>

    </div>


    <div class="right-container">

        <div class="todo-list">
            <form action="/todo" method="post">
                <div class="form-group-1">
                    <input type="text" id="input" name="content" placeholder="할 일을 입력해보세요">
                </div>
                
                <div class="form-group-2">
                    <div class="folder-select-section">
                        <div class="folder-list">
                            
                            <select name="folder" id="folder">
                                {% for folder in foldersDistinct %}
                                    <option value="{{folder.folderName}}">{{folder.folderName}}</option>
                                {% endfor %}
                                <option value="" selected="selected" disabled hidden>폴더 선택</option>
                            </select>

                            <input type="text" id="new-folder" placeholder="새 폴더">
                            <button class="add-folder-btn"> + 폴더 추가</button>                        

                        </div>
                    </div>

                    <div class="todo-add-section">
                        <button class="btn" id="add" type="submit">할 일 추가</button>
                    </div>
                    
                    
                </div>

            </form>
        </div>


        {% set idx = -1 %}
        {% for folder in foldersDistinct %}
        {% set idx = idx + 1 %}
        <form id="check{{idx}}" action="/todo/checkEdit" method="post">
            <div class="todos">
                    <div class="todo-folder">
                        <div class="header">
                            <p class="folder-name">{{folder.folderName}}</p>
                            <input type="hidden" name="idx" value="{{idx}}">

                            <div class="select">
                                <div class="see-more">
                                    <br>
                                    <span>⋮</span>
                                </div>
                                <div class="options-list" id="{{folder.folderName}}">
                                    <button class="options-item" type="button" onclick="openEdit(this, idx)">수정</button>
                                    <button class="options-item" type="submit" formaction="/todo/deleteFolder">삭제</button>
                                </div>

                                <div class="modal" id="modal{{idx}}">
                                    <div class="modal-edit">
                                        <input type="text" name="newFolderName">
                                        <input type="hidden" name="folderName" value="{{folder.folderName}}">
                                        <button class="options-item" type="submit" onclick="closeEdit(this, idx)" formaction="/todo/editFolder">수정</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        


                        <div class="items">
                            {% for todo in todos %}
                            <div class="item">
                                {% if todo.folderName == folder.folderName %}
                                    {%  if todo.done %}
                                    
                                    <div class="item-content" style="color:grey; text-decoration: line-through;">
                                        <input type="checkbox" value="{{todo.id}}" 
                                        onchange="DidIt(this)" 
                                        autocomplete="off" checked>                        
                                        <span name="todoUndone">{{todo.content}}</span>
                                        <input type="hidden" name="todoDone" value="{{todo.id}}">
                                    </div>
                                    {% else %}
                                    <div class="item-content" style="color:black">
                                        <input type="checkbox" value="{{todo.id}}" 
                                        onchange="DidIt(this)" 
                                        autocomplete="off" >
                                        <span>{{todo.content}}</span>
                                        <input type="hidden" name="todoDone" value="{{todo.id}}">
                                    </div>
                                    {% endif %}
    
                                    <div class="select">
                                        <div class="see-more">
                                            <span>...</span>
                                        </div>
                                        <div class="options-list" id="{{folder.folderName}}">
                                            <button class="options-item" type="button">수정</button>
                                            <button class="options-item" type="submit" formaction="/todo/deleteList" name="deleteTargetList" value="{{todo.id}}">삭제</button>
                                        </div>
                                    </div>
                                    
                                {% endif %}

                                
                            </div>
                            {% endfor %}
                        </div>

                        
                    </div>
            </div>
        </form>
        {% endfor %}



    </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const addFolderBtn = document.querySelector(".add-folder-btn");
    const folders = document.querySelector("#folder");
    const newFolder = document.querySelector("#new-folder");
    
    addFolderBtn.onclick = (e) => {
        e.preventDefault();
        
        // new Option(text, value, defaultSelected, selected)
        const option = new Option(newFolder.value, newFolder.value,false, true);
        folders.add(option, undefined);

        newFolder.value = '';

    }



    function DidIt(t){
            parent = t.parentNode;
            parent.style.color = (t.checked) ? "grey" : "black";
            parent.style.textDecoration = (t.checked) ? "line-through" :"none";
            
            todoId = t.value;
            axios.patch(`/todo/checkEdit/${todoId}`);
    }

    function openEdit(t, idx){
        document.getElementById("modal"+idx.value).style.display = "block";
    }

    function closeEdit(t, idx){
        document.getElementById("modal"+idx.value).style.display = "none";
    }
    

</script>



</body>

</html>