.main-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.left-container{
    display: flex;
    flex: 0 0 25%;
    background-color: green;
    height: 100px;
    justify-content: left;
    border-right: 1px solid grey;
}

.right-container{
    display: flex;
    flex: 0 0 50%;
    flex-flow: column nowrap;
    margin-left: 10%;
    margin-right: 10%;


}



.form-group-1 input{
    width: 100%;
    height: 60px;
    border: none;
    font-size: 1.5rem;
    font-weight:300;

    border: 1px solid lightgrey;
    border-radius: 6px;
}

.todo-list input:focus{
    outline: 1px solid green;
}


.form-group-2{
    padding-top: 0.5rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}


.form-group-2 .btn{
    border: 1px solid green;
    border-radius: 4px;
    color: white;
    background-color:green;
    padding: 0.3rem 0.5rem;
    cursor:pointer;   
}

.folder-list{
    position: relative;
    font-family: Arial;
}

.folder-selected{
    background-color: dodgerblue;
}

.folder-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


.folder-list input{
    border: none;
    background-color: #f9f9f9;
    display: block;
    width: auto;
    border-top: 1px solid lightgray;
    padding: 12px 16px;

}



.add-folder-btn{
    border: none;
    background-color: #f9f9f9;
    padding: 12px 16px;
    cursor: pointer;
}

.modal, .list-modal{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}


.modal.show{
    display: block;
}

.list-modal.show{
    display: block;
}

.modal-edit{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px;
    text-align: center;
    background-color: white;
    border-radius: 5%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 5px 5px 5px 5px rgb(240, 240, 240);

}

.folder-name, .modal button{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 1px solid green;
    border-radius: 4px;
    background-color: green;
    padding: 2px;
    width: fit-content;
}

.todo-folder{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.todo-folder .header{
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
}



.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px;
    border-top: 1px;

}






.options-list button{
    display: block;
    border: none;
    background-color: white;
}

.options-list button:hover{
    background-color: green;
    color: white;
}

.select:hover .options-list {
    opacity: 1;
    visibility: visible;
}

.select:hover .option span::after {
    float: center;
}



.see-more span::after {
    float: center;
}

.options-list {
    text-align: center;
    width: 5rem;
    position: absolute;
    background-color: white;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s linear;
}



.options-item:hover {
    background-color: lightgray;
}


.navigator{
    background-color: lightgrey;
    width: 100%;
    text-align: right;
    height: 30px;
}
.navigator .btn{
    border: none;
    
}

.navigator .btn:hover{
    cursor: pointer;
}

/* profile */

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}